<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/soa</property>
        <property name="connection.pool_size">15</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="connection.username">soa_admin</property>
        <property name="connection.password">111</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

<!--        <mapping class="models.entities.Coordinates" />-->
<!--        <mapping class="models.entities.Vehicle" />-->
    </session-factory>
</hibernate-configuration>